.graySmallText {
	color: rgba(0,0,0,.6);
	font-size: .90rem;
}

.dottedLink {
	border-bottom: 1px dotted;
}

.dottedLink :hover{
	text-decoration: none;
}

.page-content {
    padding: 10px 0;
}

.site-header {
	border-top: none;
}