  <!DOCTYPE html>
  <html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="main">
          <div class="four">
            <img width="240" src="{{site.baseurl}}/assets/img/imad.png">
          </div>
          <div class="eight" style="text-align: justify;">
            {{ site.content.description | markdownify}}
          </div>
        </div>
        <div class="main">
          <div class="six">
            <h2>Interests</h2>
            <ul>
              <li>Model Driven Engineering (MDE)</li>
              <li>Domain-Specific Languages (DSLs)</li>
              <li>Model Transformation</li>
              <li>Internet of Things (IoT)</li>
              <li>Compliance Checking</li>
              <li>Artificial Intelligence (AI)</li>
            </ul>
          </div>
          <div class="six">
            <h2>Education</h2>
            <ul>
              <li>PhD in Computer Science <br/> Université du Québec à Chicoutimi, 2021</li>
              <li>PhD in Computer Science <br/>IMT Atlantique, 2021</li>
              <li>MSc in Computer Networking <br/>Université Claude Bernard Lyon 1, 2016</li>
              <li>BSc in Computer Science <br/>Université Claude Bernard Lyon 1, 2014</li>
            </ul>
          </div>
        </div>
        <nav id="archives">
          <header>
            <h2>Blog</h2>
            <a href="/feed.xml"><svg class="svg-icon orange">
          <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
        </svg><span>Subscribe</span></a>
            </header>
            <ul>
              {% for post in site.posts %}
              <li>
                <time datetime="{{ post.date | date: "%Y-%m-%d" }}" pubdate>{{ post.date | date_to_string }}</time>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </nav>
          {{ content }}
        </div>
      </main>

      {%- include footer.html -%}

    </body>

    </html>