  <!DOCTYPE html>
  <html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="main">
          <div class="four">
            <img width="240" src="{{site.baseurl}}/assets/img/imad.png">
          </div>
          <div class="eight" style="text-align: justify;">
            {{ site.content.description | markdownify}}
          </div>
        </div>
        <div class="main">
          <div class="six">
            <h2>Interests (in order)</h2>
            <ul>
              <li>Model Driven Engineering (MDE)</li>
              <li>Domain-Specific Languages (DSLs)</li>
              <li>Model Transformation</li>
              <li>Internet of Things (IoT)</li>
              <li>Artificial Intelligence (AI)</li>
              <li>Compliance Checking</li>
            </ul>
          </div>
          <div class="six">
            <h2>Education</h2>
            <ul>
              <li>PhD in Computer Science <br/><span class="graySmallText">Université du Québec à Chicoutimi, 2021</span></li>
              <li>PhD in Computer Science <br/><span class="graySmallText">IMT Atlantique, 2021</span></li>
              <li>MSc in Computer Networking <br/><span class="graySmallText">Université Claude Bernard Lyon 1, 2016</span></li>
              <li>BSc in Computer Science <br/><span class="graySmallText">Université Claude Bernard Lyon 1, 2014</span></li>
            </ul>
          </div>
        </div>
        <nav id="archives">
          <header>
            <h2>Blog</h2>
          </header>
          <ul>
            {% for post in site.posts %}
            <li>
              <time datetime="{{ post.date | date: "%Y-%m-%d" }}" pubdate>{{ post.date | date_to_string }}</time> - 
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul>
          <a class="dottedLink" style="float: right;" href="/feed.xml"><svg class="svg-icon orange">
            <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
          </svg><span>Subscribe</span></a>
        </nav>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

  </html>